* {
  box-sizing: border-box;
}

header > h2 {
  position: absolute;
  top: 8vh;
  left: 5vw;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px 8px #FF0000;
  font-size: 25px;
  color: #fa9d9d;
}

#logoSalmon  {
  position: absolute;
  max-height: 30vh;
  max-width: 30vw;
  top: 3vh;
  left: 0;
  height: auto;
  width: auto;
  z-index: -1;
}

#headerCookie {
  position: absolute;
  top: 3vh;
  left: 75%;
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header > hr {
  position: absolute;
  top: 14vh;
  left: 30vw;
  width: 90%;
  border: 2px solid #fa9d9d;
}

nav {
  position: absolute;
  top: 0vh;
  left: 30vw;
  text-align: center;
  margin: 20px;
  padding: 10px;
  }
  
nav ul {
  list-style: none;
  margin: 2px;
  padding: 0;
}
  
nav li {
  display: inline-block;
  margin: 50px;
  padding: 5px 5px;
}
  
nav a {
  padding: 10px 5px;
}

body {
  background-color: #A3CBF1;
}

body > h1 {
  position: absolute;
  top: 10vh;
  left: 25%;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: -1px 0 #A3CBF1, 0 5px #A3CBF1, 2px 0 #A3CBF1, 0 -1px #A3CBF1;
  font-size: 80px;
  color: #EFE7BC;
}

table {
  position: absolute;
  top: 40vh;
  left: 0;
  background: #A3CBF1;
  table-layout: auto;
  width: 100%; 
}

th {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  text-align: center;
  padding: 10px;
  font-family: 'Abril Fatface', cursive; 
  border-bottom: 1px solid #EFE7BC;
}