head {
  position: relative;
}

header {
  margin-top: 30px;
  background-color:  #EFE7BC;
  height: 175px;
  border-radius: 25px;
}

header h1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  right:25%;
  top: 50px;
  height: 100px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-size: 60px;
  color: #fa9d9d;
}

#logo {
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
  opacity: 80%;
}

body {
  background-color: #A3CBF1;
}

article.location {
  display: inline-block;
  margin-left: 10px;
  width: 18%;
  padding: 5px;
  border: 3px solid  #EFE7BC;    
  background-color: #fa9d9d; 
}

article h3 {
  text-align: center;
  background-color:#74BDCB;
}